listen  _clustername_ro
        log /dev/log local0 debug
        bind *:_proxy_port_number
        mode tcp
        timeout client  180s
        timeout server  180s
        option external-check
        external-check command /usr/local/sbin/postgreschk
        balance leastconn

#     <keyword> <server-alias> <endpoint-name>:portnumber check port health_check_port_number       
